*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

input,
textarea,
button {
    outline: none;
    border: none;
    font-family: inherit;

}