.card {
    border-radius: 30px;
    box-shadow: 0 0 20px 0 #00000010;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 54px;
    padding: 20px;
}

.image {
    height: 237px;
    object-fit: contain;
}

.info {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.infoLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 17px;
    font-weight: 600;
    color: #1C1C27;
}

.rating {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ratingValue {
    color: #838383;
    font-size: 17px;
    font-weight: 600;
}

.infoRight {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

.prices {
    display: flex;
    flex-direction: column;
    min-height: 36px;
}

.price {
    font-size: 17px;
    font-weight: 600;
    color: #FFA542;
}

.oldPrice {
    font-size: 13px;
    font-weight: 600;
    text-decoration: line-through;
    color: #FFCE7F;
}

.btnBuy {
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    background-color: transparent;

    transition: transform 200ms, color 100ms;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: #838383;
        }
    }
    
    &:active {
        color: #383838;
        transform: scale(0.83);
    }
}